<%inherit file="/adminish/main.html" />
<%namespace name="paging" file="/paging.html"/>

<%def name="page_jquery()">
$('#form').hide();
$('#add_new').click(function() {
  $('#form').slideToggle();
  return false;
});
</%def>
<%def name="page_css()">
h2 span.info {
font-weight: normal;
font-size: 90%;
color: #444;
}
</%def>
<%def name="page_breadcrumb()"> / ${metadata.get('labels',dict()).get('plural','items')}</%def>
<%!
from mako.template import Template
from schemaish.type import File
%>



<h2>${metadata.get('labels',dict()).get('plural','items')}</h2>

<%
itemstable = []
for f in types['fields']:
    k = f['name']
    if '*' not in k:
        item = 'item.get("'+k+'","n/a")'
        image = '<img src="/filehandler/${%s.doc_id}/${%s.id}?size=50x50" />'%(item,item)
        value = '%% if isinstance(%s, basestring) and len(%s) > 80:\n${%s[:80]} ... [trimmed]\n%% else:\n${%s}\n%% endif\n'%(item, item, item, item)
        itemstable.append(
        {'name': k, 'label':k.title(),'value': value, 'image': image},
        )
%>

${paging.paging(pagingdata)}

<table cellpadding="0" cellspacing="0">
  <tr>
    % for itemheaders in metadata['templates'].get('items-table', itemstable):
    <th>
      ${itemheaders['label']}
    </th>
% endfor

% for item in items:
<tr>
% for n, itemheaders in enumerate( metadata['templates'].get('items-table', itemstable) ):
  <td>
  % if n == 0:
  <a href="${urls.path_qs.child(item['_id'])}">
    % endif
    % if isinstance(item.get(itemheaders.get('name')), File):
${Template(itemheaders.get('image','')).render_unicode(item=item)|n}
% else:
${Template(itemheaders.get('value','')).render_unicode(item=item, urls=urls)|n}
% endif
  % if n == 0:
  </a>
  % endif
  </td>
% endfor
</tr>
% endfor
</table>

${paging.paging(pagingdata)}



<h2 id="add_new">Add ${metadata.get('labels',dict()).get('singular','item')} <span class="info">(click to open)</span></h2>
  ${form()|n}


<%def name="title()">ADMINISH</%def>
