<%inherit file="/admin/main.html" />
<%!
from mako.template import Template
%>

<h2>${metadata.get('labels',dict()).get('plural','items')}</h2>

<%
itemstable = []
for f in types['fields']:
    t = f['name']
    itemstable.append(
    {'label':f['name'].title(),'value':'${item["'+f['name']+'"]}'},
    )
%>

<table cellpadding="0" cellspacing="0">
  <tr>
    % for itemheaders in metadata['templates'].get('items-table', itemstable):
    <th>
      ${itemheaders['label']}
    </th>
% endfor

% for item in items:
<tr>
% for n, itemheaders in enumerate( metadata['templates'].get('items-table', itemstable) ):
  <td>
  % if n == 0:
  <a href="${urls.path_qs.child(item['_id'])}">
  % endif
  ${Template(itemheaders['value']).render(item=item)|n}
  % if n == 0:
  </a>
  % endif
  </td>
% endfor
</tr>
% endfor
</table>




<h2>Add ${metadata.get('labels',dict()).get('singular','item')}</h2>
  ${form()|n}


<%def name="title()">CAPTIVA DESIGN</%def>
