<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<%def name="title()">
% if hasattr(self, 'page_title'):
  ${self.page_title()} @ Adminish
% else:
  Adminish
% endif
</%def>

<%def name="page_javascript()">
</%def>
<%def name="sidebar()">
</%def>
<html>
<head>
  <title>${self.title()}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/tripoli/tripoli.css" />
  <link rel="stylesheet" type="text/css" href="/ccss/screen.css" />

  <!-- Grid Support -->
  <link rel="stylesheet" type="text/css" media="screen" href="/js/themes/basic/grid.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/js/themes/jqModal.css" />
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/jquery.jqGrid.js" type="text/javascript"></script>
  <script src="/js/js/jqModal.js" type="text/javascript"></script>
  <script src="/js/js/jqDnR.js" type="text/javascript"></script>

  <!-- start of things to merge/move somewhere better -->

  <link rel="stylesheet" type="text/css" href="/css/formish.css" />
  <link rel="stylesheet" type="text/css" href="/css/flash.css" />
  <link rel="stylesheet" type="text/css" href="/css/clearfix.css" />
  <link rel="stylesheet" type="text/css" href="/css/paging.css" />
  <script type="text/javascript" src="/js/flash.js"></script>
  <script type="text/javascript" src="/js/formish.js"></script>
  <script type="text/javascript" src="/js/jquery.base64.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-personalized-1.6rc2.packed.js"></script>


  <script tye="text/javascript">
  //<![CDATA[
    $(document).ready(function() {
      formish();
    });
    ${self.page_javascript()}
  //]]>
  </script>

  <!-- end of things to merge/move somewhere better -->

</head>
<body>
  <div id="canvas">
    <div id="page">
      <div id="body">
        <div id="admin" class="content">
          ${element('flash_message')()|n}
          % if hasattr(self, 'page_title'):
          <h1>${self.page_title()}</h1>
          % endif
          <a href="/admin">Back to admin</a>
          ${self.body()}
        </div>
	    </div>
    </div>
  </div>



</body>
</html>
