<%
from clevercss import URL as url, Parser

def c(value):
    return Parser().parse_expr(1,value)

def indent(n):
    n = n
    def Indent(text):
        out = []
        for line in text.splitlines():
            out.append(n*' '+line)
        return '\n'.join(out)
    return Indent

images = '/images/'
bg = lambda f: 'url(%s)'%''.join( [images,"bg/",f] )
icon = lambda f: 'url(%s)'%''.join( [images,"icon/",f] )
graphic = lambda f: 'url(%s)'%''.join( [images,"graphic/",f] )
nav = lambda f: 'url(%s)'%''.join( [images,"nav/",f] )

# Colours
primary = c('#A1CC3A')
secondary = c('#01458E')
neutral = c('#DDD')


# Dimensions 
canvas_width = c('1200px')
page_width = c('980px')
header_height = c('232px')
sidebar_width = c('200px')
sidebar_padding = c('20px')

%>

body:
  text-align: center
  a: 
    color: ${primary}
    text-decoration: none
    &:hover: 
      color: ${primary}
    &:visited: 
      color: ${primary}
    &:link: 
      color: ${primary}
      

#canvas:
  margin: 0 auto 0 auto
  text-align: left
  position: relative
  width: ${canvas_width}

#page:
  margin-left: 20px
  margin-right: 20px

#logo:
  position: absolute
  top: 20px
  right: 5px
  a img:
    border: 0

#content:
  width: ${page_width}
  font-size: 1.1em;
  h1:
    font->
      family: tahoma, arial, geneva, sans
      weight: normal
      size: 1.3em
    margin-bottom: 1.3em

#admin:
  font-size: 1.1em;
  h1:
    font->
      family: tahoma, arial, geneva, sans
      weight: normal
      size: 1.3em
    margin-bottom: 1.3em

.content:
  form div:
    padding-bottom: 0
